header {
    padding: 0px 24px;
    margin-bottom: 90px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #151517;
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #151517;
}